<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Small but Scrappy.</h2>
                <hr class="light">
                <p class="text-faded">Ghost Press is run by two ink-covered Chicago designers: Cooper Foszcz and Ryan Ford. Though we're a small operation, we'</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
