<section id="services">
        <!-- <div class="row">
    <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let us Let You </h2>
                <hr class="primary">
            </div>
        </div>
    -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Screenprinting</h3>
                    <p class="text-muted">Putting artwork onto paper is what we're good at, because we were terrible at sports. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Design</h3>
                    <p class="text-muted">We're designers by day, and printers by night. We can help you out with both.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Workshops</h3>
                    <p class="text-muted">Screenprinting is more fun when there's other people to complain about it with.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Good Vibes</h3>
                    <p class="text-muted">We're an independent print shop, so we get to say things like "fuck" and "rad."</p>
                </div>
            </div>
        </div>
    </div>
</section>
