---
---

<!DOCTYPE html>
<html>
<head>
  <title>G H O S T P R E S S</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,800' rel='stylesheet' type='text/css'>
  <link href='/css/framework.css' rel='stylesheet' />
  <link href='/css/ghost.css' rel='stylesheet' />
</head>
<body>
  <div class='header center space-top2 space-bottom4 pad1'>
    <a href='index.html'><img src='img/head3.png'></a>
    <ul class='space-top2'>
      <li><a href='studio.html'>studio</a></li>
      <li><a href='estimates.html'>estimates</a></li>
      <li><a href='shop.html'>shop</a></li>
    </ul>
  </div>

  <div class='main col12 space-bottom4 clearfix'>
    <div class='main-inner col8 margin2'>
      {{content}}
    </div>
  </div>

  <footer class='col12 center'>
  </footer>
</body>
</html>