<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

	<header>
    <div class="header-content">
        <div class="header-content-inner">
        	<img style="max-width:100%" src="img/head-inv.png">
            <!-- <h1>Your Favorite Source of Free Bootstrap Themes</h1> -->
            <hr>
            <p>Ghost Press <del> is </del> was a screenprinting studio in Chicago, Illinois run by two ink-covered designers, Cooper Foszcz and Ryan Ford. </p>
            <p>After some soul searching, we've decided to change gears. Stayed tuned for a brand new Ghost Press with a lot more goods for sale. </p>
            <a href="mailto:ghostpress.chicago@gmail.com" class="btn btn-primary btn-xl page-scroll">get in touch</a>
        </div>
    </div>
</header>

</body>